.searchpage__div {
  height: 100vh;
  background-image: url("https://static2.mansionglobal.com/production/media/article-images/a463f7b0a1f0994bd52aadad9ea452c8/large_GettyImages-8994893841.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.searchpage__container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.searchpage__border {
  width: 55%;
  background: rgba(23, 46, 62, 0.5);
  border-radius: 10px;
  height: 200px;
  margin: 70px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
}

/* if you are using material ui button style like this end with important */
.searchPage__button {
  background-color: #232c39 !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  color: white !important;
  height: 60px !important;
}
